body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.first-section {
    display:flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #F0FAF8;
    padding: 30px 100px;
}

.header {
    display: flex;
    margin-bottom: 80px;

}

.logo {
    font-size: 18pt;
    font-weight: 800;
    margin-right: auto;
}

.header-link {
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;
    color:#F0FAF8;

}

.main {
    display: flex;
    margin-bottom: 40px;
}

.text {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    gap: 10px;
    flex: auto;
}

.one {
    font-size: 48px;
    font-weight: extra-bold;
}

button {
    width: 80px;
    flex: 0 1 auto;
    background: #3882f6;
    color: #F0FAF8;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}

img {
    height: 350px;
    width: auto;
    flex: 1 1 auto;
}

.second-section {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: #1f2937;
    padding: 30px;
    margin: 30px 100px;
}

.random {
    display: flex;
    font-size: 36px;
    font-weight:bolder;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
}

.group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}

.groupone,
.grouptwo,
.groupthree,
.groupfour {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.image {
    height: 80px;
    width: 80px;
    border: 3px solid #3882f6;
}

.third-section {
    background-color: lightslategray;
    padding: 70px 150px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.quote {
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
}

.name {
    display:flex;
    justify-content: flex-end;
    font-weight: bold;
}

.fourth-section {
    background-color: #3882f6;
    color: #F0FAF8;
    margin: 150px;
    padding: 40px 70px;
    display: flex;
}

.last {
    display: flex;
    justify-content: space-between;
}

.call {
    font-size: 20pt;
}

.btwo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 150px;
}